body{
    background-color:white;
    color:#555;
    font-family:Arial, Helvetica, sans-serif;
    font-size:16px;
    line-height:1.6em;
    margin:0;


}

#video{
  background-color: lightgrey;
  border: 1px solid black;
}
#video video{
  border: 1px solid grey;
  padding: 0px 15px 15px 15px;
  background-color: lightyellow;

}
h2{
  color:green;
  font-weight: bold;
}
#supporter{
  background-color: lightyellow;
  border: 1px solid grey;
}
.body {margin:0;font-family:Arial}

.topnav {
  overflow: hidden;
  background-color: #333;
}
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


/*
.tp{
  float: right;
}*/


.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}

.drpdown {
  float: left;
  overflow: hidden;
}

.drpdown .drpbtn {
  font-size: 17px;    
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;

}

.drpdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.drpdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover, .drpdown:hover .drpbtn {
  background-color: #555;
  color: white;
}

.drpdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.drpdown:hover .drpdown-content
 {
  display: block;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .drpdown .drpbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .drpdown {float: none;}
  .topnav.responsive .drpdown-content {position: relative;}
  .topnav.responsive .drpdown .drpbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}
.topnav img{
  border-radius: 50%;
}
.container{

    width:80%;
    margin:auto;
    overflow:hidden;
}   

.container h1{
    color:green;
    border: 1px solid;

}

.container-fluid{
    margin:auto;
    overflow:hidden;
}   

.container-fluid h1{
    color:green;
    border: 1px solid;

}


.block{
    border:1px solid #ccc;
    padding:10px;
    box-sizing:border-box;
}

.block-data {
    color: black;
    font-size: 12px;
}

  .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 85 %;
}

.top_section{
  padding-top:10px;
  background-color: lightgrey;
}
.donate .drpbtn{
  background-color: green;
}
.single .input-group .form-control {
  display: block;
  width: 75%;
  height: 24px;    
  font-size: 12px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
}

.single .input-group-btn{
  width: 25%
}

.single .btn {
  background-color: #76c04e;
  border-radius: 0px;
  color: #fff;
  font-size: 10px;
}
.hd_right{
  float: none;
}
.hd_right ul li a {
  color:black;
  font-size: 24px;
}

.hd_right ul li {
  list-style-type: none;
  display: inline-block;
  margin-left: 5px;
}